!!!
%html{'lang' => 'en'}
%head
  %meta{'charset' => 'utf-8'}
  %title= current_page.data.title || "Swift Education"
  %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=-100%'}
  %meta{'rel' => 'icon', 'href' => '/assets/images/favicon.png'}
  %meta{'rel' => 'apple-touch-icon', 'href' => '/assets/images/favicon-touch.png'}
  = stylesheet_link_tag 'swifteducation.css'
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-63894717-1', 'auto');
    ga('send', 'pageview');
%body{'class' => page_classes}
  = yield
